<div class="row">
  <div class="col-xs-12">
    <div class="page-title">
      <h1 class="title">Sign In</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <section class="box ">
      <header class="panel_header"></header>
      <div class="content-body">
        <div class="form-description">
          <p>Enter login credentials below or <a routerLink="/create-account">Create an Account</a>.</p>
        </div>

        <form (ngSubmit)="onSubmit()" #createAccountForm="ngForm">
          <div *ngIf="hasErrors" class="alert alert-error">
            <span class="glyphicon glyphicon-alert alert-icon" aria-hidden="true"></span>
            Sign in credentials are invalid. Please try again.
          </div>

          <div class="form-group" [class.has-error]="hasErrors">
            <label>Email Address:</label>
            <input [(ngModel)]="model.emailAddress" id="emailAddress" name="emailAddress"
                   class="form-control" type="text" placeholder="Enter email address"
                   required />
          </div>

          <div class="form-group" [class.has-error]="hasErrors">
            <label>Password:</label>
            <input [(ngModel)]="model.password" id="password" name="password" class="form-control" type="password" required />
            <div class="help-block">
              <a href="/reset-password-request">Reset password</a>
            </div>
          </div>

          <div class="form-group">
            <button *ngIf="!isSubmitted" type="submit" class="btn btn-primary">
              Sign In
            </button>
            <button *ngIf="isSubmitted" type="submit" class="btn btn-primary" disabled>
              <i class='fa fa-circle-o-notch fa-spin'></i>
              Signing in...
            </button>
          </div>
        </form>

      </div>
    </section>
  </div>
</div>
