<div class="page-sidebar fixedscroll">
  <div class="page-sidebar-wrapper" id="main-menu-wrapper">

    <ul style="padding-top:1em">
      <li routerLinkActive="open">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>

      <li routerLinkActive="open">
        <a routerLink="/services/browse" routerLinkActive="active">
          <i class="fa fa-gears"></i>
          <span class="title">Services</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu" routerLinkActive="open">
          <li>
            <a routerLink="/services/browse" routerLinkActive="active">Browse</a>
          </li>
          <!--<li>-->
            <!--<a routerLink="/services/new" routerLinkActive="active">-->
              <!--<span class="label label-accent">5</span>-->
              <!--New-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="" href="soc-mail-compose.html" >Recent</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a class="" href="soc-mail-compose.html" >Starred</a>-->
          <!--</li>-->
        </ul>
      </li>

      <li *ngIf="authService.isAuthenticated" routerLinkActive="open">
        <a routerLink="/contracts" routerLinkActive="active">
          <i class="fa fa-file"></i>
          <span class="title">Contracts</span>
          <span class="arrow "></span>
          <!--<span class="label label-accent">4</span>-->
        </a>
        <ul class="sub-menu" routerLinkActive="open">
          <li>
            <a [routerLink]="['/contracts']" routerLinkActive="active">Browse</a>
          </li>
          <li>
            <a [routerLink]="['/contracts']" [queryParams]="{ status: 'pending'}" routerLinkActive="active">Pending</a>
            <!--<span class="arrow "></span>-->
            <!--<span class="label label-accent">4</span>-->
          </li>
          <li>
            <a routerLink="/contracts" [queryParams]="{ status: 'executed'}" routerLinkActive="active">Executed</a>
          </li>
          <li>
            <a routerLink="/contracts" [queryParams]="{ status: 'failed'}" routerLinkActive="active">Failed</a>
          </li>
        </ul>
      </li>

      <!--<li class="">-->
      <!--<a href="javascript:;">-->
      <!--<i class="fa fa-bar-chart"></i>-->
      <!--<span class="title">Reports</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu" >-->
      <!--<li>-->
      <!--<a class="" href="soc-report-site.html" >Site</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a class="" href="soc-report-statistics.html" >Statistics</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->

      <!--<li class="">-->
      <!--<a href="javascript:;">-->
      <!--<i class="fa fa-upload"></i>-->
      <!--<span class="title">Deploy</span>-->
      <!--<span class="arrow "></span>-->
      <!--</a>-->
      <!--<ul class="sub-menu" >-->
      <!--<li>-->
      <!--<a class="" href="soc-media.html" >Users</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a class="" href="soc-upload.html" >Security</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a class="" href="soc-upload.html" >ARK Wallet</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a class="" href="soc-upload.html" >Api Keys</a>-->
      <!--</li>-->
      <!--</ul>-->
      <!--</li>-->

      <!--<li class="">-->
      <!--<a href="soc-account-settings.html">-->
      <!--<i class="fa fa-bolt"></i>-->
      <!--<span class="title">Funds</span>-->
      <!--</a>-->
      <!--</li>-->

      <li *ngIf="authService.isAuthenticated" routerLinkActive="open">
        <a routerLink="/settings" routerLinkActive="active">
          <i class="fa fa-gear"></i>
          <span class="title">Settings</span>
        </a>
      </li>
    </ul>

  </div>

</div>
