<div class="page-sidebar fixedscroll">
  <div class="page-sidebar-wrapper" id="main-menu-wrapper">

    <ul style="padding-top:1em">
      <li routerLinkActive="open">
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-dashboard"></i>
          <span class="title" class="hidden-xs">Dashboard</span>
        </a>
      </li>


      <li routerLinkActive="open">
        <a routerLink="/services/browse" routerLinkActive="active">
          <i class="fa fa-gears"></i>
          <span class="title" class="hidden-xs">Services</span>
          <span class="arrow "></span>
        </a>
      </li>
      <li *ngIf="this.topLevelRoute === 'services'" class="sub-menu" routerLinkActive="open">
        <a routerLink="/services/browse" routerLinkActive="active">
          <i class="fa fa-eye"></i>
          <span class="hidden-xs">Browse</span>
        </a>
      </li>
        <!-- Show sub-menu only when top-level parent route is 'services' -->
        <!--<ul *ngIf="this.topLevelRoute === 'services'" class="sub-menu" routerLinkActive="open">-->
          <!--<li>-->
            <!--<a routerLink="/services/browse" routerLinkActive="active">-->
              <!--<span class="hidden-xs">Browse</span>-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->


      <li *ngIf="authService.isAuthenticated" routerLinkActive="open">
        <a routerLink="/contracts" routerLinkActive="active">
          <i class="fa fa-file"></i>
          <span class="title">Contracts</span>
          <span class="arrow "></span>
        </a>
        <!-- Show sub-menu only when top-level route is 'contracts' -->
        <ul *ngIf="this.topLevelRoute === 'contracts'" class="sub-menu" routerLinkActive="open">
          <li>
            <a [routerLink]="['/contracts']" routerLinkActive="active">Browse</a>
          </li>
          <li>
            <a [routerLink]="['/contracts']" [queryParams]="{ status: 'pending'}" routerLinkActive="active">Pending</a>
            <!--<span class="arrow "></span>-->
            <!--<span class="label label-accent">4</span>-->
          </li>
          <li>
            <a routerLink="/contracts" [queryParams]="{ status: 'executed'}" routerLinkActive="active">Executed</a>
          </li>
          <li>
            <a routerLink="/contracts" [queryParams]="{ status: 'failed'}" routerLinkActive="active">Failed</a>
          </li>
        </ul>
      </li>


      <li *ngIf="authService.isAuthenticated" routerLinkActive="open">
        <a routerLink="/settings" routerLinkActive="active">
          <i class="fa fa-gear"></i>
          <span class="title">Settings</span>
        </a>
      </li>
    </ul>

  </div>

</div>
