<div class='page-topbar '>
  <div class='quick-area'>
    <div class='pull-left'>
      <ul class="info-menu left-links list-inline list-unstyled">
        <a href="#" >
          <img src="/assets/images/logo-red.png" class="d-none d-lg-inline mr-2" style="width: 40px">
          <span style="margin-right: 2em; margin-left: 0.5em; font-size: 18px; font-weight: bold; text-decoration:none; color: white; text-transform: none">ACES Marketplace</span>
        </a>
      </ul>
    </div>
    <div class='pull-right'>
      <ul class="info-menu right-links list-inline list-unstyled">
        <li class="profile">
          <a href="#" data-toggle="dropdown" class="toggle">
            <span>Welcome
              <!--<i class="fa fa-angle-down"></i>-->
            </span>
          </a>
          <!--<ul class="dropdown-menu profile animated fadeIn">-->
            <!--<li>-->
              <!--<a href="">-->
                <!--<i class="fa fa-wrench"></i>-->
                <!--Settings-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="last">-->
              <!--<a href="">-->
                <!--<i class="fa fa-lock"></i>-->
                <!--Logout-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
        </li>
      </ul>
    </div>
  </div>

</div>
