<div *ngIf="!loading">
  <div class="row">
    <div class='col-xs-12'>
      <div class="page-title">
        <div class="pull-left">
          <h1 class="title">Reset Password Request</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <header class="panel_header"></header>
        <div class="content-body">
          <app-reset-password-request-form></app-reset-password-request-form>
        </div>
      </section>
    </div>
  </div>
</div>
