<form *ngIf="!isSuccess" (ngSubmit)="onSubmit()" #createAccountForm="ngForm">

  <div class="form-description">
    <p>Enter your email address to receive a password reset link.</p>
  </div>

  <div *ngIf="hasErrors" class="alert alert-error">
    <span class="glyphicon glyphicon-alert alert-icon" aria-hidden="true"></span>
    Please correct the errors below.
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group" [class.has-error]="emailAddressHasError">
        <label>Email Address:</label>
        <input [(ngModel)]="model.emailAddress" id="emailAddress" name="emailAddress"
            class="form-control" type="text" placeholder="Enter email address"
            required />
        <ul class="validation-errors" *ngIf="emailAddressHasError">
          <li *ngFor="let fieldError of emailAddressFieldErrors">
            {{fieldError.message}}
          </li>
        </ul>
      </div>

      <div class="form-group" [class.has-error]="recaptchaCodeHasError">
        <label>Verification:</label>
        <re-captcha name="recaptchaCode" [(ngModel)]="model.recaptchaCode"
                    siteKey="{{recaptchaSiteKey}}"
                    #captchaControl="ngModel" required></re-captcha>
        <ul class="validation-errors" *ngIf="recaptchaCodeHasError">
          <li *ngFor="let fieldError of recaptchaCodeFieldErrors">
            {{fieldError.message}}
          </li>
        </ul>
      </div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="! canSubmit">
    Request Reset Password Link
  </button>

</form>

<div *ngIf="isSuccess">
  <h3>Success</h3>
  <p>An email has been sent to {{model.emailAddress}}. Please follow the link in the email to reset your password.</p>
</div>
