<form *ngIf="!isSuccess" (ngSubmit)="onSubmit()" #createAccountForm="ngForm">

  <input [(ngModel)]="code" id="code" name="code" type="hidden" />

  <div *ngIf="hasErrors" class="alert alert-error">
    <span class="glyphicon glyphicon-alert alert-icon" aria-hidden="true"></span>
    Please correct the errors below.
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div *ngIf="codeHasError" class="alert alert-error">
        <p>The password reset code is no longer valid:</p>
        <ul class="validation-errors">
          <li *ngFor="let fieldError of codeFieldErrors">
            {{fieldError.message}}
          </li>
        </ul>
      </div>

      <div class="form-group" [class.has-error]="passwordHasError">
        <label>New Password:</label>
        <input [(ngModel)]="model.password" id="password" name="password"
            class="form-control" type="password" placeholder="Enter new password"
            required />
        <ul class="validation-errors" *ngIf="passwordHasError">
          <li *ngFor="let fieldError of passwordFieldErrors">
            {{fieldError.message}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="! canSubmit">
    Reset Password
  </button>
</form>

<div *ngIf="isSuccess">
  <h3>Success</h3>
  <p>Your password was reset successfully! You may now continue to <a routerLink="/sign-in">sign in</a>.</p>
</div>
