<div class="row">
  <div class='col-xs-12'>
    <div class="page-title">
      <div class="pull-left">
        <h1 class="title">Dashboard</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <section class="box ">
      <header class="panel_header"></header>
      <div class="content-body">
        <p>ACES allows users to execute services directly from Ark transactions
          using the SmartData bridge data field and encoded listeners services provided by ACES.</p>
        <p>For posting ACES Service nodes, review the
          <a href="https://github.com/ark-aces/aces-guides/blob/master/aces-marketplace.md">ACES Marketplace Guide</a>.</p>
      </div>
    </section>
  </div>
</div>
