<h3>Service Launcher <span class="badge badge-danger">Coming Soon</span></h3>

<section class="box ">
  <div class="content-body">
    <p>The ACES Service Launcher allows you to deploy service templates to a remote server.</p>
  </div>
</section>

<section class="box">
    <div class="content-body">

    <h4>Key features</h4>
    <ul>
      <li>Manage deployment SSH keys</li>
      <li>Deploy instances to remove servers</li>
      <li>Configure service parameters during deployment</li>
      <li>Start and stop remote services</li>
      <li>Manage deployed instances</li>
    </ul>
  </div>
</section>
