Hello {{name}},

A password reset request has been created for your user.

Please use the link below to reset your password:
{{resetPasswordUrl}}

Regards,
The ACES Marketplace Team
https://www.arkaces.com
