Hello {{name}},

Thank you for signing up to the ACES Marketplace. You can now access your account and begin executing contract services.

Please use the link below to verify your email address:
{{verificationUrl}}

Regards,
The ACES Marketplace Team
https://www.arkaces.com
