<div *ngIf="! isLoading">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <div class="pull-left">
          <h1 class="title">{{selectedStatus | titlecase}} Contracts</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <div class="content-body">
          <table *ngIf="contracts.length > 0" class="table table-sm">
            <thead>
              <tr>
                <th>Contract ID</th>
                <th>Status</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contract of contracts">
                <td>
                  <a [routerLink]="['/contracts', contract.id]">{{contract.id}}</a>
                </td>
                <td>
                  {{contract.status}}
                </td>
                <td>
                  {{contract.createdAt}}
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="contracts.length == 0">
            No matching contracts.
          </div>

        </div>
      </section>
    </div>
  </div>
</div>
