<div *ngIf="! isLoading() && ! isFailed">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h1 class="title">
          <span *ngIf="serviceInfo.isTestnet" class="label label-warning">Testnet</span>
          {{serviceInfo.name}}
          <span class="service-version">{{serviceInfo.version}}</span>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Website URL</h2>
        </header>
        <div class="content-body">
          <a href="{{serviceInfo.websiteUrl}}">{{serviceInfo.websiteUrl}}</a>
        </div>
      </section>
    </div>

    <div class="col-lg-2">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">
            Flat Fee
          </h2>
        </header>
        <div class="div content-body panel panel-default">
          {{serviceInfo.flatFee}}
        </div>
      </section>
    </div>

    <div class="col-lg-2">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">
            Percent Fee
          </h2>
        </header>
        <div class="div content-body">
          {{serviceInfo.percentFee}}
        </div>
      </section>
    </div>

    <div class="col-lg-2">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">
            Capacity
          </h2>
        </header>
        <div class="div content-body" *ngFor="let capacity of serviceInfo.capacities">
          {{ capacity.value | number:'1.0-3' }}
          {{ capacity.unit }}
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Description</h2>
        </header>
        <div class="content-body">
          {{serviceInfo.description}}
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="page-title page-sub-title">
        <div class="pull-left">
          <h1 class="title">Contract: {{id}}</h1>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="contract.status == 'pendingPayment'" class="alert alert-warning" role="alert">
    <p>
      <span class="glyphicon glyphicon-alert alert-icon" aria-hidden="true"></span>
      Payment Required
    </p>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <div class="content-body">
          <div class="row">
            <div class="col-lg-4">
              <h4>Status</h4>
              <p>{{contract.status}}</p>
            </div>
            <div class="col-lg-4">
              <h4>Created At</h4>
              <p>{{contract.createdAt}}</p>
            </div>
            <div class="col-lg-4">
              <h4>Service</h4>
              <p><a [routerLink]="['/services', contract.serviceId]">{{contract.serviceId}}</a></p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div *ngIf="isArkPayable && contract.status === 'pendingPayment'" class="row">
    <div class="col-xs-12">
      <section class="box ">
        <div class="content-body">
            <h4>Ark Payment Required</h4>
            <p>Execute your contract by sending an Ark transaction of the required amount to the Service Ark Address,
              including the SmartBridge Text to identify this contract:</p>

            <p><strong>Service Ark Address:</strong>
            {{ arkPaymentParams.serviceArkAddress }}
            <a class="btn btn-xs btn-default copy-button" ngxClipboard [cbContent]="arkPaymentParams.serviceArkAddress">Copy</a></p>

            <p><strong>Required Ark Amount:</strong>
            {{ arkPaymentParams.requiredArk }}
            <a class="btn btn-xs btn-default copy-button" ngxClipboard [cbContent]="arkPaymentParams.requiredArk">Copy</a></p>

            <p><strong>SmartBridge Text:</strong>
            {{ arkPaymentParams.arkSmartBridge }}
            <a class="btn btn-xs btn-default copy-button" ngxClipboard [cbContent]="arkPaymentParams.arkSmartBridge">Copy</a></p>
          </div>
      </section>
    </div>
  </div>

  <h3>Execution Results</h3>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <div class="content-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
              <tr *ngFor="let row of resultRows">
                <td>{{row.title}}</td>
                <td style="overflow: scroll">{{row.value}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </section>
    </div>
  </div>

  <div class="row" *ngFor="let resultArray of resultArrays">
    <div class="col-xs-12">
      <h4>Transfers</h4>

      <section class="box ">
        <div class="content-body">
          <table class="table">
            <tbody>
            <tr *ngFor="let row of resultArray.rows">
              <td>{{row.title}}</td>
              <td style="overflow: scroll">{{row.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

</div>

<div *ngIf="! isLoading() && isFailed">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h1 class="title">
          Failed
        </h1>
        <p>Failed to get contract info from remote service. Please try again later.</p>
      </div>
    </div>
  </div>
</div>

