<h3>Admin Dashboard</h3>

<section class="box ">
  <div class="content-body">
    <p>The ACES Seller Admin console allows you to manage and track ACES Services provided by your account.
    <p>For creating and running ACES Service nodes, review the node setup guides in
    <a href="https://github.com/ark-aces/aces-guides/">ACES Guides</a>.</p>
  </div>
</section>

<section class="box">
    <div class="content-body">

    <h4>Coming Soon to Admin Dashboard:</h4>
    <ul>
      <li>Service counts (active, inactive)</li>
      <li>Most active services</li>
      <li>Service outages</li>
      <li>Latest contracts</li>
      <li>Latest failed contracts</li>
    </ul>
  </div>
</section>
