<div *ngIf="!loading">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <div class="pull-left">
          <h1 class="title">Services</h1>
        </div>
      </div>
    </div>
  </div>



<div class="container-fluid panel service-listing" *ngFor="let service of services">
  <a [routerLink]="['/services', service.id]">
  <div class="row">
      <div class="col-md-6">
            <h4 class="service-title title">
              <span *ngIf="service.isTestnet === true" class="label label-warning">TestNet</span>
              <span *ngIf="service.isTestnet === false" class="label label-default">MainNet</span>
              {{service.name}}
            </h4>
        <hr>
        <div class="service-description">
          {{service.description}}
        </div>
      </div>

      <div class="col-md-2">
        <app-service-fees-box [flatFee]="service.flatFee"></app-service-fees-box>
      </div>

      <div class="col-md-2">
        <app-service-percent-fees-box [percentFee]="service.percentFee"></app-service-percent-fees-box>
      </div>


      <div class="col-md-2">
        <app-service-capacity-box [capacities]="service.capacities"></app-service-capacity-box>
      </div>


  </div>
  </a>
</div>


</div>
