<div *ngIf="! isLoading()">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-title">
        <h1 class="title">
          <span *ngIf="service.isTestnet" class="label label-warning">Testnet</span>
          {{service.name}}
          <span class="service-version">{{service.version}}</span>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Service URL</h2>
        </header>
        <div class="content-body">
          <a href="{{service.url}}">{{service.url}}</a>
        </div>
      </section>
    </div>

    <div class="col-xs-3">
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Website URL</h2>
        </header>
        <div class="content-body">
          <a href="{{service.websiteUrl}}">{{service.websiteUrl}}</a>
        </div>
      </section>
    </div>

    <div class="col-xs-2">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">
            Flat Fee
          </h2>
        </header>
        <div class="div content-body panel panel-default">
          {{service.flatFee}}
        </div>
      </section>
    </div>

    <div class="col-xs-2">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">
            Percent Fee
          </h2>
        </header>
        <div class="div content-body">
          {{service.percentFee}}%
        </div>
      </section>
    </div>

    <div class="col-xs-2">
      <section class="box">
        <header class="panel_header">
          <h2 class="title pull-left">
            Capacity
          </h2>
        </header>
        <div class="div content-body" *ngFor="let capacity of serviceInfo.capacities">
          {{ capacity.value }}
          {{ capacity.unit }}
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Description</h2>
        </header>
        <div class="content-body">
          {{service.description}}
        </div>
      </section>
    </div>
  </div>

  <div *ngIf="canCreateContracts" class="row">
    <div class="col-xs-12">
      <section class="box ">
        <header class="panel_header">
          <h2 class="title pull-left">Instructions</h2>
        </header>
        <div class="content-body">
          <markdown [data]="serviceInfo.instructions"></markdown>
        </div>
      </section>
    </div>
  </div>




  <h3>Create Contract</h3>

  <div class="row">
    <div class="col-xs-12">
      <section class="box ">
        <div class="content-body" *ngIf="false">
          To view submitted contracts, please <a routerLink="/sign-in">sign in</a>.
        </div>

        <div class="content-body">
          <div *ngIf="isLoadingContractForm" class="loading-indicator">
            <i class='fa fa-circle-o-notch fa-spin'></i>
            Loading...
          </div>
          <app-service-form [serviceId]="serviceId" [serviceInfo]="serviceInfo"></app-service-form>
        </div>

      </section>
    </div>
  </div>

</div>
